# Dependencies
node_modules/
# package-lock.json should be committed for reproducible builds
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
*.zip

# Development
.vscode/
.idea/
*.log
*.swp
*.swo
*~

# Coverage
coverage/
.nyc_output/

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
desktop.ini

# Extension specific
*.crx
*.pem
web-ext-artifacts/

# 打包私钥（发版机密，绝不提交）
key.pem
*.pem
gdownload.crx
update.xml
